@import './normalize.css';
@import './github-markdown.css';
@import './fontawesome/css/all.min.css';

html {
  --text-color: #0a244d;
  --background-color: #FFF;
  --link-color: #f8b739;
  --box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
  font-size: 12px;
}
body { 
  font-size: 16px;
  font-family: -apple-system, sans-serif; 
  color: var(--text-color); 
  background-color: var(--background-color);
}

html[data-theme='dark'] {
  --text-color: hsl(210, 10%, 62%);
  --background-color: #222;
  --link-color: #fbd283;
  --box-shadow: 1px 1px 3px rgb(255 255 255 / 10%)
}
img { max-width: 100%; }
svg { overflow: auto; }

x-highlightjs > .x-highlight { overflow: auto; font-size: 14px; }

* {box-sizing: border-box;}
.wrapper {display: flex; align-items: stretch;}
.list-unstyled { list-style: none; padding: 0;}
.contents { padding: 12px; }

a { color: var(--link-color); text-decoration: none; }
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { 
  font-weight: 500; line-height: 1.2; margin: 0;
}
h1,.h1 { font-size: 2.5rem; margin-bottom: 2rem; }
h2,.h2 { font-size: 2rem; margin-bottom: 1.6rem; }
h3,.h3 { font-size: 1.75rem; margin-bottom: 1.4rem; }

.m-2 { margin: .5rem!important }
.mt-2,.my-2 { margin-top: .5rem!important }
.mr-2,.mx-2 { margin-right: .5rem!important }
.mb-2,.my-2 { margin-bottom: .5rem!important }
.ml-2,.mx-2 { margin-left: .5rem!important }
.m-4 { margin: 1.5rem!important }
.mt-4,.my-4 { margin-top: 1.5rem!important }
.mr-4,.mx-4 { margin-right: 1.5rem!important }
.mb-4,.my-4 { margin-bottom: 1.5rem!important }
.ml-4,.mx-4 { margin-left: 1.5rem!important }

.x-p1 { padding: 1rem!important }
.x-p2 { padding: 2rem!important }

.sidebar {
  min-width: 300px; max-width: 300px; background: #32373d; color: #fff; min-height: 100vh;
  position: relative; padding: 24px; transition: margin .3s, background-color .3s;
} 
.sidebar .logo { color: #FFF; }
.sidebar.hidden { margin-left: -300px; background: transparent }
.sidebar h1 { margin: 0 0 20px; font-size: 40px; font-weight: 700; }
.sidebar ul li > a { background: 0 0;}
.sidebar ul li a { 
  padding: 10px 0; display: block; color: #EEE; border-bottom: 1px solid #444;
}
.sidebar ul li a:hover, .sidebar ul li a.active { color: #f8b739; }
.sidebar .footer {color: #CCC; margin-top: 60px;}
@media only screen and (min-width: 768px) {
  x-sidebar.x-visible.sidebar { transition: margin-left .3s; overflow: visible; }
}

.navbar { 
  padding: 15px 10px; margin-bottom: 40px; box-shadow: var(--box-shadow);
  display: flex; align-items: center; font-size: 24px;
}
.navbar .custom-menu {
  display: inline-block; border: none; background: var(--background-color); 
  width: 40px; height: 40px; cursor: pointer; color: var(--text-color);
}
.navbar .dark-mode-switch { 
  font-size: 16px; color: var(--text-color) !important; border-color: var(--text-color) !important; 
}
.navbar .dark-mode-switch b { font-weight: normal; }
.navbar .links { flex: 1; display: flex; align-items: center; justify-content: flex-end;}
.navbar .links > * { margin-right: 12px; color: var(--text-color)}
.navbar .links .version { font-size: 20px;}

.main { width: 100%; padding: 12px 24px 24px}